<%- include('layout/head'); %>

    <body id="about_body">
        <header>
            <%- include('layout/nav'); %>
        </header>

        <main>
            <section class="about_section">
                <img src="/about-me/gina-1.jpg" alt="Foto Gina">
                <article>
                    <h2>Leuk dat je wilt weten wie ik ben!</h2>
                    <p>
                        Ik ben Gina en ik ben fulltime trouwfotograaf. Ik haal mijn energie uit het vastleggen van liefdevolle momenten, op een pure manier.
                    </p>
                    <p>
                        Ik kom uit Krommenie, een dorp in Zaanstad, maar ik ben door heel Nederland te boeken en zelfs tot over de grens!
                    </p>
                    <p>
                        Ik ben begonnen met fotografie in 2017, kreeg mijn eerste klant in 2018 en ben een professioneel bedrijf gestart in 2019. Ik ben enorm dankbaar dat ik fulltime werkzaam mag zijn als fotograaf, want dat vind ik echt het leukste wat er is!
                    </p>
                    <p>
                        Ik stel mensen snel op hun gemak. Ik ben altijd in voor sushi, bastogne koeken, red velvet taart en de kaaskoekjes van mijn moeder & oma.
                    </p>
                    <p>
                        In het dagelijks leven maak en luister ik graag muziek. Het leren van en verdiepen in nieuwe dingen vind ik heel leuk.
                    </p>
                    <div>
                        <a href="/portfolio">Mijn werk bekijken</a>
                        <a href="">Bel met mij</a>
                    </div>
                </article>
            </section>

            <img id="banner_photo" src="/about-me/banner.jpg" alt="Banner bruiloft foto">

            <section class="about_section">
                <article>
                    <h2>Hoe werk ik?</h2>
                    <p>
                        Tijdens een trouwdag focus ik mij op de spontane momenten. Mijn manier van fotograferen is dan ook grotendeels in een documentaire stijl. Ik geef emoties weer en laat je de sfeer voelen.
                    </p>
                    <p>
                        Het wordt een belangrijke dag waar jullie graag op terug willen kijken met vreugde en een lach. Daarom is een fotograaf is een van de belangrijkste dingen voor jullie bruiloft.
                    </p>
                    <p>
                        Ik vind het belangrijk dat we een goede klik hebben. Dat jullie een fijn gevoel hebben bij mij en dat we echt een match zijn. Je kan mij beschouwen als een vriendin die jullie bijzondere dag vast legt. Ik ben relaxed en zorg voor een ontspannen sfeer, dat is voor iedereen fijn.
                    </p>
                    <p>
                        Ik kan niet wachten om meer over jullie te horen! Ik kom graag langs, zodat we kennis kunnen maken. Dit mag bij jullie thuis, maar we kunnen ook een kopje koffie drinken in een rustig café in de buurt, net wat jullie wens is.
                    </p>
                    <p>
                        De herinneringen van jullie dag houden jullie voor altijd bij je en ik vind het belangrijk dat dit op een betrouwbare manier wordt vastgelegd. Met zorg ga ik om met jullie belangrijkste dag en de foto’s worden meerdere keren – op verschillende plekken - geback-upt.
                    </p>
                </article>
                <img src="/about-me/gina-2.jpg" alt="Foto Gina">
            </section>
        </main>

        <%- include('layout/contact'); %>
    </body>


    </html>