<%- include('layout/head'); %>

    <body id="about_body">
        <header>
            <%- include('layout/nav'); %>
        </header>

        <main>
            <section class="about_section">
                <img src="/assets/photo-gina-1.webp" alt="Photo Gina">
                <article>
                    <h2>Leuk dat je wilt weten wie ik ben!</h2>
                    <p>
                        Ik ben Gina en ik ben fulltime trouwfotograaf. Ik haal mijn energie uit het vastleggen van
                        liefdevolle momenten, op een pure manier.
                    </p>
                    <p>
                        Ik kom uit Krommenie, een dorp in Zaanstad, maar ik ben door heel Nederland te boeken en zelfs
                        tot
                        over de grens!
                    </p>
                    <p>
                        Ik ben begonnen met fotografie in 2017, kreeg mijn eerste klant in 2018 en ben een professioneel
                        bedrijf gestart in 2019.
                    </p>
                    <p>
                        Ik ben enorm dankbaar dat ik fulltime werkzaam mag zijn als fotograaf, want dat vind ik echt het
                        leukste wat er is!
                    </p>
                    <p>
                        In het dagelijks leven maak en luister ik graag muziek. Het leren van en verdiepen in nieuwe
                        dingen
                        vind ik heel leuk.
                    </p>
                    <a href="/portfolio">Mijn werk bekijken</a>
                </article>
            </section>

            <img id="banner_photo" src="/assets/landscape-2.jpeg" alt="Wedding picture">

            <section class="about_section">
                <article>
                    <h2>Hoe werk ik?</h2>
                    <p>
                        Je kan mij beschouwen als een vriendin die jullie bijzondere dag vast legt. Ik zorg voor een
                        ontspannen sfeer. De herinneringen van jullie dag houden jullie voor altijd bij je en ik vind
                        het
                        belangrijk dat dit op een betrouwbare manier wordt vastgelegd.
                    </p>
                    <p>
                        Tijdens een trouwreportage focus ik mij op de spontane momenten. Mijn manier van fotograferen is
                        dan
                        ook grotendeels in een documentaire stijl. Ik geef emoties weer en laat je de sfeer voelen.
                    </p>
                    <p>
                        Ik vind het belangrijk dat we een goede klik hebben. Dat jullie een fijn gevoel hebben bij mij
                        en
                        dat we echt een match zijn. Graag hoor ik meer over jullie!
                    </p>
                    <p>
                        Ik kom graag langs, zodat we kennis kunnen maken. Dit mag bij jullie thuis, maar we kunnen ook
                        een
                        kopje koffie drinken in een rustig café in de buurt, net wat jullie wens is.
                    </p>
                </article>
                <img src="/assets/photo-gina-2.webp" alt="Photo Gina">
            </section>
        </main>

        <%- include('layout/contact'); %>
    </body>

    </html>