<%- include('layout/head'); %>

    <body>
        <header>
            <%- include('layout/nav'); %>

                <section id="carousel">
                    <div>
                        <h1>Gina ten Hoope Photography</h1>
                        <p>Professioneel bruidsfotograaf</p>
                        <div>
                            <button id="previous"></button>
                            <button id="next"></button>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <img class="left" src="/home/landscape-1.webp" alt="Carousel foto 1">
                        </li>
                        <li>
                            <img src="/home/landscape-2.webp" alt="Carousel foto 2">
                        </li>
                        <li>
                            <img src="/home/landscape-3.webp" alt="Carousel foto 3">
                        </li>
                        <li>
                            <img src="/home/landscape-4.webp" alt="Carousel foto 4">
                        </li>
                        <li>
                            <img src="/home/landscape-5.webp" alt="Carousel foto 5">
                        </li>
                        <li class="show">
                            <img class="right" src="/home/landscape-6.webp" alt="Carousel foto 6">
                        </li>
                    </ul>
                </section>
        </header>

        <main class="transform_main">
            <section id="review">
                <h2>
                    “Momenten van nu vastleggen,<br>welke morgen je hart verbazen”
                </h2>
                <p>
                    "Ik kan het niet anders samenvatten dan dat Gina een super goede fotografe is met oog voor
                    detail!
                    Ze
                    stelt je echt op je gemak waardoor de foto’s geen gemaakt karakter krijgen.
                </p>
                <p>
                    Wat ik zelf heel belangrijk vind dat is een fotograaf aanwezig is zonder dat je het merkt en dat
                    is
                    ze.
                    Na bewerking spatte de kleuren echt van de foto. Wij zouden Gina zeker aanbevelen als
                    (bruids)fotograaf
                    en zijn heel blij met het eindresultaat.❤️"
                </p>
                <p>~Walter & Ilona</p>
            </section>

            <section id="about_home">
                <article>
                    <h2>Leuk je te ontmoeten, ik ben Gina</h2>
                    <p>Zorgzaam, lief, relaxed. Dat ben ik.</p>
                    <p>Bij mij kan je altijd jezelf zijn. Ik hou van kletsen over het leven.</p>
                    <p>Mijn sterke punt is dat ik mensen snel op hun gemak kan stellen. Ik ben ook maar een mens, dat maakt het makkelijk ;)</p>
                    <p>Je kan mij wakker maken voor sushi, bastogne koeken, red velvet taart en de kaaskoekjes van mijn moeder & oma.</p>
                </article>
                <img src="/about-me/gina-2.jpg" alt="Foto Gina">
            </section>

            <section class="links">
                <div>
                    <a href="/portfolio">
                        <img class="right" src="/arches-home/portfolio.jpg" alt="Portfolio link foto">
                        <div>
                            <h2>Bekijk meer van mijn<br>bruiloft fotografie</h2>
                            <p>Bruiloft foto's bekijken</p>
                        </div>
                    </a>
                    <a href="/overmij">
                        <img src="/arches-home/about.jpg" alt="Over mij link foto">
                        <div>
                            <h2>Leer mij wat<br>beter kennen</h2>
                            <p>Meer over mij</p>
                        </div>
                    </a>
                    <a href="/tarieven">
                        <img src="/arches-home/prices.jpg" alt="Tarieven link foto">
                        <div>
                            <h2>Wat zijn mijn<br>tarieven</h2>
                            <p>Tarieven bekijken</p>
                        </div>
                    </a>
                </div>
            </section>
        </main>

        <%- include('layout/contact'); %>
    </body>

    </html>