<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/overmij">Over mij</a>
            <a href="/portfolio">Bruiloft fotografie</a>
            <a href="/tarieven">Tarieven</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <main>
        <h2 id="contact">Contact</h2>
    </main>
</body>

</html>