<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body id="prices_body">
    <header>
        <%- include('layout/nav'); %>
    </header>

    <main>
        <section class="about_section">
            <img src="/assets/portrait-5.jpeg" alt="Bruiloft tarieven foto">
            <article>
                <h2>Bruiloft tarieven op maat</h2>
                <p>
                    Ik lever al mijn werk op maat, mijn start
                    tarief is 1500,-
                </p>
                <p>
                    Dit start tarief is inclusief: 6 uur fotografie
                    door een professionele trouwfotograaf, een
                    minimum van 200 hoge resolutie bestanden
                    en een handgemaakt mini-album.
                </p>
                <p>
                    Binnen start pakket valt alles wat ik als basis
                    nodig heb als fotograaf om jullie bruiloft
                    vast te kunnen leggen.
                </p>
                <p>
                    Voor micro-bruiloften ben ik ook te boeken.
                    Daarbij hanteer ik aangepaste tarieven,
                    afhankelijk van de bruiloft.
                </p>
                <p>
                    Vóór de bruiloft kunnen jullie kiezen voor
                    bijvoorbeeld een tweede fotograaf, meer
                    uren of een videograaf. Ná de bruiloft
                    kunnen we overleggen over een
                    handgemaakt (ouder)album en
                    wanddecoratie.
                </p>
                <p>
                    Alle wensen die jullie hebben, bespreek ik
                    graag met een kopje koffie of thee.
                </p>
                <a href="#contact">Neem contact met mij op</a>
            </article>
        </section>

        <section class="links">
            <h2>Overige pakketten</h2>
            <a href="">
                <img class="right" src="/assets/portrait-6.jpeg" alt="Portret foto">
                <div>
                    <h2>Tot 4 uur<br>fotografie</h2>
                    <p>Meer informatie</p>
                </div>
            </a>
            <a href="">
                <img src="/assets/portrait-7.jpeg" alt="Portret foto">
                <div>
                    <h2>Tot 2 uur<br>fotografie</h2>
                    <p>Meer informatie</p>
                </div>
            </a>
            <a href="">
                <img class="left" src="/assets/portrait-8.jpeg" alt="Portret foto">
                <div>
                    <h2>Tot 1 uur<br>fotografie</h2>
                    <p>Meer informatie</p>
                </div>
            </a>
        </section>
    </main>

    <%- include('layout/contact'); %>
</body>

</html>