<%- include('layout/head'); %>

    <body id="prices_body">
        <header>
            <%- include('layout/nav'); %>
        </header>

        <main>
            <section class="about_section">
                <img src="/prices/wedding.jpg" alt="Bruiloft tarieven foto">
                <article>
                    <h2>Bruiloft tarieven op maat</h2>
                    <p>
                        Ik lever al mijn werk op maat, mijn start
                        tarief is 1500,-
                    </p>
                    <p>
                        Dit start tarief is inclusief: 6 uur fotografie
                        door een professionele trouwfotograaf, een
                        minimum van 200 hoge resolutie bestanden
                        en een handgemaakt mini-album.
                    </p>
                    <p>
                        Binnen start pakket valt alles wat ik als basis
                        nodig heb als fotograaf om jullie bruiloft
                        vast te kunnen leggen.
                    </p>
                    <p>
                        Voor micro-bruiloften ben ik ook te boeken.
                        Daarbij hanteer ik aangepaste tarieven,
                        afhankelijk van de bruiloft.
                    </p>
                    <p>
                        Vóór de bruiloft kunnen jullie kiezen voor
                        bijvoorbeeld een tweede fotograaf, meer
                        uren of een videograaf. Ná de bruiloft
                        kunnen we overleggen over een
                        handgemaakt (ouder)album en
                        wanddecoratie.
                    </p>
                    <p>
                        Alle wensen die jullie hebben, bespreek ik
                        graag met een kopje koffie of thee.
                    </p>
                    <a href="#contact">Neem contact met mij op</a>
                </article>
            </section>

            <section class="links">
                <h2>Overige pakketten</h2>
                <div>
                    <a href="/tarieven/4-uur">
                        <img class="right" src="/prices/4-hours.jpg" alt="Portret foto">
                        <div>
                            <h2>Tot 4 uur<br>fotografie</h2>
                            <p>Meer informatie</p>
                        </div>
                    </a>
                    <a href="/tarieven/2-uur">
                        <img src="/prices/2-hours.jpg" alt="Portret foto">
                        <div>
                            <h2>Tot 2 uur<br>fotografie</h2>
                            <p>Meer informatie</p>
                        </div>
                    </a>
                    <a href="/tarieven/1-uur">
                        <img class="left" src="/prices/1-hour.jpg" alt="Portret foto">
                        <div>
                            <h2>Tot 1 uur<br>fotografie</h2>
                            <p>Meer informatie</p>
                        </div>
                    </a>
                </div>
            </section>
        </main>

        <%- include('layout/contact'); %>
    </body>

    </html>