<%- include('layout/head'); %>

    <body id="prices_body">
        <header>
            <%- include('layout/nav'); %>
        </header>

        <main>
            <section class="about_section">
                <% if(package=='4 uur' ) { %>
                    <img src="/prices/4-hours.webp" alt="Portret foto">
                <% } else if(package=='2 uur' ) { %>
                    <img src="/prices/2-hours.webp" alt="Portret foto">
                <% } else if(package=='1 uur' ) { %>
                    <img class="left" src="/prices/1-hour.webp" alt="Portret foto">
                <% } %>
                <article>
                    <h2><%= package %> fotografie</h2>
                    <% if(package=='4 uur' ) { %>
                        <i>
                            €800,-
                        </i>
                        <p>
                            Jij wil uitpakken!
                        </p>
                        <p>
                            Bij dit pakket kom ik 4 uur fotograferen en ontvang je 100 digitale foto’s!
                        </p>
                        <p>
                            Je wil een uitgebreide fotoshoot, waarin de sfeer van jouw dag volledig naar voren wordt gebracht. Denk hierbij aan een feestje, congres, bedrijfsborrel of (sport)evenement.
                        </p>
                        <p>
                            Je krijgt van mij een credit van 100 euro om afdrukken te bestellen of te gebruiken voor een album.
                        </p>
                        <p>
                            Daarnaast geef ik je een extra credit voor het bestellen van een handgemaakt mini-album van 15 bij 15 cm (30 pagina’s), zodat je ook fysiek de foto’s er altijd bij kan pakken.
                        </p>
                        <p>
                            *Extra digitale foto's, afdrukken of albums zijn te bestellen tegen een meerprijs. Vraag hiervoor naar de brochure.
                        </p>
                    <% } else if(package=='2 uur' ) { %>
                        <i>
                            €500,-
                        </i>
                        <p>
                            Jij wil net iets meer...
                        </p>
                        <p>
                            Bij dit pakket kom ik 2 uur fotograferen en ontvang je 50 digitale foto’s!
                        </p>
                        <p>
                            Je wil meerdere outfits en/of meerdere locaties, zodat je veel variatie hebt. Samen kiezen wij de locatie, waardoor de foto’s in de goede sfeer worden vastgelegd. Tijdens de fotoshoot probeer ik jouw persoonlijkheid mooi in beeld te brengen.
                        </p>
                        <p>
                            Ook krijg je van mij een credit van 100 euro om afdrukken te bestellen of te gebruiken voor een album.
                        </p>
                        <p>
                            *Extra digitale foto's, afdrukken of albums zijn te bestellen tegen een meerprijs. Vraag hiervoor naar de brochure.
                        </p>

                    <% } else if(package=='1 uur' ) { %>
                        <i>
                            €300,-
                        </i>
                        <p>
                            Jij wil efficiënt zijn...
                        </p>
                        <p>
                            Jij hebt genoeg aan 1 uur fotografie en 20 digitale foto’s!
                        </p>
                        <p>
                            Samen kiezen wij de locatie, waardoor de foto’s in de goede sfeer worden vastgelegd. Ik ga je binnen dit uur van jouw beste kant laten zien!
                        </p>
                        <p>
                            Jij mag jouw foto’s zelf uitkiezen. Jij gaat ze uiteindelijk gebruiken, dus ik vind dat jij zelf de keuzes mag gaan maken. Ik ga jouw favorieten met zorg bewerken en ik lever ze af via de mail.
                        </p>
                        <p>
                            *Extra digitale foto's, afdrukken of albums zijn te bestellen tegen een meerprijs. Vraag hiervoor naar de brochure.
                        </p>
                    <% } %>
                    <a href="#contact">Neem contact met mij op</a>
                </article>
            </section>

            <section class="links">
                <h2>Overige pakketten</h2>
                <div>
                    <a href="/tarieven">
                        <img src="/prices/wedding.webp" alt="Bruiloft tarieven foto">
                        <div>
                            <h2>Bruiloft tarieven<br>op maat</h2>
                            <p>Meer informatie</p>
                        </div>
                    </a>
                    <% if(package!=='4 uur' ) { %>
                        <a href="/tarieven/4-uur">
                            <img src="/prices/4-hours.webp" alt="Portret foto">
                            <div>
                                <h2>4 uur<br>fotografie</h2>
                                <p>Meer informatie</p>
                            </div>
                        </a>
                    <% } if(package!=='2 uur' ) { %>
                        <a href="/tarieven/2-uur">
                            <img src="/prices/2-hours.webp" alt="Portret foto">
                            <div>
                                <h2>2 uur<br>fotografie</h2>
                                <p>Meer informatie</p>
                            </div>
                        </a>
                    <% } if(package!=='1 uur' ) { %>
                        <a href="/tarieven/1-uur">
                            <img src="/prices/1-hour.webp" alt="Portret foto">
                            <div>
                                <h2>1 uur<br>fotografie</h2>
                                <p>Meer informatie</p>
                            </div>
                        </a>
                    <% } %>
                </div>
            </section>
        </main>

        <%- include('layout/contact'); %>
    </body>

    </html>