<%- include('layout/head'); %>

    <body id="thanks_body">
        <header>
            <%- include('layout/nav'); %>
                <div id="thanks_message">
                    <h1>Bedankt voor uw bericht!</h1>
                    <p>Ik zal zo spoedig mogelijk contact met u opnemen.</p>
                </div>
        </header>
    </body>

    </html>