:root {
    --primary-color: #fdfdfd;
    --secondary-color: #EFE2D9;
    --overlay-color: #E6CDB9;

    --big-text-size: 1.563rem;
    --medium-text-size: 1.125rem;
    --small-text-size: 0.875rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype') url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Avenir', Helvetica, sans-serif;
    text-align: center;
    overflow-x: hidden;
}

a {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: unset;
}

h2 {
    font-size: var(--medium-text-size);
    font-weight: 500;
}

p {
    font-size: var(--small-text-size);
}

header {
    color: var(--primary-color);
}

header nav {
    position: fixed;
    display: none;
}

/* Home page styling */
header #carousel>div:first-of-type {
    position: absolute;
    width: 85vw;
    left: 7.5vw;
    top: 4rem;
}

header #carousel div h1 {
    font-size: var(--big-text-size);
}

header #carousel div p {
    font-weight: bold;
    margin-top: 0.625rem;
}

header #carousel div div {
    display: flex;
    justify-content: space-between;
    margin-top: 11.25rem;
}

header #carousel div div button {
    font-size: 3rem;
    color: var(--primary-color);
    background-color: unset;
    border: unset;
    opacity: 0.8;
}

header #carousel div div #previous::before {
    content: '\2039';
}

header #carousel div div #next::before {
    content: '\203A';
}

header #carousel div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
}

header #carousel div img {
    height: 27.375rem;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}

header #carousel div img.left {
    object-position: 30% 50%;
}

header #carousel div img.right {
    object-position: 90% 50%;
}

main #review {
    background-color: var(--primary-color);
    width: calc(85vw - (0.625rem*2));
    margin: auto;
    padding: 0.625rem;
    transform: translateY(-2.375rem);
}

main #review h2 {
    font-style: italic;
    width: 90%;
    margin: auto;
}

main #review p {
    margin-top: 0.625rem;
}

main #links {
    background-color: var(--secondary-color);
    transform: translateY(-1rem);
}

main #links a {
    width: 73.33vw;
    margin: auto;
    padding-top: 2.5rem;
}

main #links a:last-of-type {
    padding-bottom: 2.5rem;
}

main #links a img {
    width: 73.33vw;
    height: 21.125rem;
    object-fit: cover;
    object-position: bottom;
    border-radius: 50% 50% 0 0 / 40% 40% 0 0;
}

main #links a div {
    background-color: var(--overlay-color);
    padding: 1.25rem;
    transform: translateY(-0.625rem);
}

main #links a div p {
    width: fit-content;
    font-size: var(--small-text-size);
    border-bottom: 1.5px solid black;
    margin: 0.625rem auto 0;
    padding-bottom: 0.3rem;
}

footer {
    text-align: left;
    width: 85vw;
    margin: auto;
}

footer.tranform_footer {
    transform: translateY(-1rem);
}

footer #footer_line {
    height: 2rem;
    width: 2px;
    background-color: black;
    margin: auto;
}

footer h2 {
    font-size: var(--big-text-size);
    width: fit-content;
    margin: auto;
}

footer form {
    display: flex;
    flex-direction: column;
}

footer form * {
    font-size: var(--small-text-size);
    margin-top: 2rem;
}

footer form input[type="text"],
textarea {
    font-family: inherit;
    border: unset;
    outline: unset;
    border-bottom: 1.5px solid rgba(0, 0, 0, .5);
    opacity: 0.6;
}

footer form input[type="submit"] {
    background-color: unset;
    border: 1.5px solid black;
}