:root {
    --primary-color: #fdfdfd;
    --secondary-color: #EFE2D9;
    --overlay-color: #E6CDB9;

    --big-text-size: clamp(1.563rem, 5.87vw, 3.125rem);
    --medium-text-size: clamp(1.125rem, 4.225vw, 2.063rem);
    --small-text-size: clamp(0.875rem, 3.286vw, 1.563rem);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype') url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Avenir', Helvetica, sans-serif;
    text-align: center;
    overflow-x: hidden;
}

main.transform_main {
    transform: translateY(clamp(-3.6rem, -8.92vw, -2.375rem));
}

a {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: unset;
}

a:hover,
a:focus,
button:hover,
button:focus {
    opacity: 1;
    transform: scale(1.15);
    transition: 0.2s transform;
}

h2 {
    font-size: var(--medium-text-size);
    font-weight: 500;
}

h3 {
    display: none;
}

p {
    font-size: var(--small-text-size);
}

header {
    color: var(--primary-color);
}

header #hamburger_menu {
    position: fixed;
    top: 1.25rem;
    right: 7.5vw;
    height: 1.5rem;
    width: fit-content;
    z-index: 2;
}

header #hamburger_menu.open div {
    background-color: black;
}

header #hamburger_menu.open div:nth-of-type(1),
header #hamburger_menu.open div:nth-of-type(3) {
    width: 1.2rem;
    transform-origin: right center;
    transition: 0.2s transform;
}

header #hamburger_menu.open div:nth-of-type(1) {
    transform: rotate(-45deg);
}

header #hamburger_menu.open div:nth-of-type(2) {
    opacity: 0;
}

header #hamburger_menu.open div:nth-of-type(3) {
    transform: rotate(45deg);
}

header #hamburger_menu.open~nav {
    display: block;
}

header #hamburger_menu div {
    background-color: var(--primary-color);
    height: 2px;
    width: 1.375rem;
    border-radius: 1.25px;
    margin: 0.3rem;
}

header nav {
    position: fixed;
    display: none;
    width: 100vw;
    background-color: var(--secondary-color);
    color: black;
    box-shadow: 0 7.5px 30px;
    padding: 4rem 0 3rem;
    z-index: 1;
}

header nav::before {
    content: '';
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #E8E8E8;
    opacity: 0.5;
    z-index: -1;
}

header nav * {
    margin: auto;
}

header nav h2 {
    font-size: var(--big-text-size);
    font-weight: 600;
    width: 70vw;
}

header nav div:first-of-type {
    margin-top: 1rem;
}

header nav a {
    font-size: var(--medium-text-size);
    font-weight: 500;
    margin-top: 0.5rem;
}

header nav #socials {
    display: flex;
    width: fit-content;
    margin-top: 0.5rem;
}

header nav #socials img {
    width: 1.4rem;
}

header nav #socials a+a {
    margin-left: 0.9rem;
}

/* Home page styling */
header #carousel>div:first-of-type {
    position: absolute;
    width: 85vw;
    left: 7.5vw;
    top: clamp(4rem, 15.023vw, 9.188rem);
}

header #carousel div h1 {
    font-size: var(--big-text-size);
}

header #carousel div p {
    font-weight: bold;
    margin-top: clamp(0.625rem, 2.347vw, 1.156rem);
}

header #carousel div div {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: clamp(11.25rem, 45vw, calc(92vh - 9.188rem - 35vh));
}

header #carousel div div button {
    cursor: pointer;
    font-size: clamp(3rem, 11.268vw, 5.5rem);
    color: var(--primary-color);
    background-color: unset;
    border: unset;
    opacity: 0.8;
}

header #carousel div div #previous::before {
    content: '\2039';
}

header #carousel div div #next::before {
    content: '\203A';
}

header #carousel div:nth-of-type(2) {
    max-height: 92vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

header #carousel div img {
    height: clamp(27.375rem, 102.817vw, 83rem);
    width: 100vw !important;
    object-fit: cover;
    object-position: center;
}

header #carousel div img.left {
    object-position: 30% 50%;
}

header #carousel div img.right {
    object-position: 90% 50%;
}

main #review,
main #working_method {
    background-color: var(--primary-color);
    width: calc(85vw - (0.625rem*2));
    max-width: 50.25rem;
    margin: auto;
    padding: clamp(0.625rem, 2.347vw, 1.156rem);
}

main #review h2,
main #working_method h2 {
    font-style: italic;
}

main #review p,
main #working_method p {
    max-width: 38.5rem;
    margin: auto;
    margin-top: clamp(0.625rem, 2.347vw, 1.156rem);
}

main .links {
    background-color: var(--secondary-color);
    margin-top: 1.375rem;
}

main .links>div {
    width: 85vw;
    max-width: 103.75rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    justify-content: center;
    margin: auto;
    padding: clamp(1.5rem, 5.634vw, 5rem) 0;
}

main .links a {
    margin: auto;
}

main .links a img {
    display: block;
    width: clamp(17.187rem, 64.552vw, 22rem);
    height: clamp(21.125rem, 79.343vw, 26rem);
    object-fit: cover;
    object-position: bottom;
    border-radius: 50% 50% 0 0 / 40% 40% 0 0;
}

main .links a img.left,
.about_section img.left {
    object-position: 30% 100%;
}

main .links a img.right,
.about_section img.right {
    object-position: 70% 100%;
}

main .links a div {
    background-color: var(--overlay-color);
    padding: clamp(1.25rem, 4.695vw, 2rem);
}

main .links a div h2 {
    font-size: clamp(1.125rem, 4.225vw, 1.65rem);
}

main .links a div p {
    width: fit-content;
    font-size: clamp(0.875rem, 3.286vw, 1.15rem);
    border-bottom: 1.5px solid black;
    margin: 0.625rem auto 0;
    padding-bottom: 0.3rem;
}

/* About me page styling */
#about_body header::before,
#prices_body header::before {
    content: '';
    position: absolute;
    top: -35vw;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    transform: skewY(-35deg);
    height: 100vh;
    z-index: -1;
}

.about_section {
    text-align: left;
    width: 85vw;
    margin: auto;
}

.about_section:first-of-type {
    margin-top: 4rem;
}

.about_section:last-of-type {
    padding-bottom: 3rem;
}

#about_body main,
#prices_body main {
    position: relative;
}

#about_body main::before,
#prices_body main::before {
    content: '';
    position: absolute;
    bottom: -35vw;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    transform: skewY(-35deg);
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.about_section img {
    width: 19.922rem;
    height: 25.563rem;
    object-fit: cover;
    object-position: center;
}

.about_section article {
    background-color: var(--overlay-color);
    padding: 1.375rem 1.25rem;
}

.about_section article:first-child,
.about_section img:first-child {
    display: flex;
    flex-direction: column;
}

.about_section article p {
    margin-top: 0.5rem;
}

.about_section article a,
main #working_method div a {
    font-size: var(--small-text-size);
    margin-top: 1rem;
}

#banner_photo {
    width: 85vw;
    height: 11.25rem;
    object-fit: cover;
    object-position: 50% 35%;
    margin: 1.75rem;
}

/* Portfolio page styling */
header #portfolio_header {
    display: flex;
    position: relative;
    z-index: -1;
}

header #portfolio_header h1 {
    position: absolute;
    top: 4rem;
    left: 7.5vw;
    width: 85vw;
}

header #portfolio_header img {
    height: 27.375rem;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}

header #portfolio_header #image_blur {
    position: absolute;
    bottom: -2.25rem;
    width: 100vw;
    height: 4rem;
    background-image: linear-gradient(0deg, var(--primary-color) 45%, transparent 100%);
}

main #working_method div {
    display: flex;
    justify-content: space-evenly;
}

main #portfolio {
    display: grid;
    gap: 1rem;
    background-color: var(--secondary-color);
    margin-top: 1.375rem;
    padding: 3rem 7.5vw;
}

main #portfolio img {
    width: 100%;
}

/* Prices page styling */
#prices_body .links {
    background-color: unset;
    margin-top: 1.5rem;
}

#prices_body main::before {
    height: 125vh;
}

/* Contact form styling */
footer {
    text-align: left;
    width: 85vw;
    padding: 0 7.5vw;
    background-color: var(--primary-color);
}

footer.tranform_footer {
    position: absolute;
    left: 7.5vw;
    transform: translateY(clamp(-3.6rem, -8.92vw, -2.375rem));
    padding: 0;
}

footer #footer_line {
    height: clamp(2rem, 7.512vw, 4.125rem);
    width: clamp(2px, 0.469vw, 3px);
    background-color: black;
    margin: auto;
}

footer h2 {
    font-size: var(--big-text-size);
    width: fit-content;
    margin: auto;
}

footer form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

footer form * {
    font-size: var(--small-text-size);
    margin-top: clamp(2rem, 7.512vw, 3.125rem);
}

footer form input[type="text"],
textarea {
    font-family: inherit;
    border: unset;
    outline: unset;
    border-bottom: clamp(1.5px, 0.352vw, 2.5px) solid rgba(0, 0, 0, .5);
}

footer form input[type="submit"],
main .about_section a,
main #working_method div a {
    cursor: pointer;
    width: fit-content;
    background-color: unset;
    border: clamp(1.5px, 0.352vw, 2.5px) solid black;
    border-radius: clamp(0.5rem, 1.878vw, 0.9rem);
    padding: clamp(0.25rem, 0.939vw, 0.45rem) clamp(0.6rem, 2.254vw, 1.08rem);
}

footer form input[type="submit"]:hover,
footer form input[type="submit"]:focus {
    background-color: var(--secondary-color);
    transform: scale(1.1);
    transition: 0.2s transform;
}

footer form input[type="submit"] {
    margin-top: clamp(1.5rem, 5.634vw, 3.125rem);
}

footer section p {
    margin-bottom: clamp(0.5rem, 1.878vw, 0.9rem);
}

footer section div {
    display: flex;
}

footer section div a {
    margin-right: clamp(0.9rem, 3.38vw, 1.62rem);
}

footer section div a img {
    width: clamp(1.4rem, 5.258vw, 2.5rem);
}

footer>p {
    text-align: center;
    margin: clamp(0.5rem, 1.878vw, 0.9rem) 0 clamp(1rem, 3.756vw, 1.8rem);
}





@media(min-width: 1000px) {

    footer form input[type="text"],
    textarea {
        width: 40vw;
        max-width: 34.75rem;
    }

    footer>div {
        display: flex;
        justify-content: space-between;
        width: 85vw;
        max-width: 66rem;
        margin: 2.5rem auto 0;
    }

    footer form input[type="text"]:first-of-type {
        margin: 0;
    }

    footer>div section {
        width: fit-content;
    }
}