:root {
    --primary-color: #fdfdfd;
    --secondary-color: #EFE2D9;
    --overlay-color: #E6CDB9;

    --big-text-size: 1.563rem;
    --medium-text-size: 1.125rem;
    --small-text-size: 0.875rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype') url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Avenir', Helvetica, sans-serif;
    text-align: center;
    overflow-x: hidden;
}

a {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: unset;
}

h2 {
    font-size: var(--medium-text-size);
    font-weight: 500;
}

p {
    font-size: var(--small-text-size);
}

header {
    color: var(--primary-color);
}

header #hamburger_menu {
    position: absolute;
    top: 1.25rem;
    right: 7.5vw;
    height: 1.5rem;
    width: fit-content;
    z-index: 2;
}

header #hamburger_menu.open div {
    background-color: black;
}

header #hamburger_menu.open div:nth-of-type(1),
header #hamburger_menu.open div:nth-of-type(3) {
    width: 1.2rem;
    transform-origin: right center;
    transition: 0.2s transform;
}

header #hamburger_menu.open div:nth-of-type(1) {
    transform: rotate(-45deg);
}

header #hamburger_menu.open div:nth-of-type(2) {
    opacity: 0;
}

header #hamburger_menu.open div:nth-of-type(3) {
    transform: rotate(45deg);
}

header #hamburger_menu.open~nav {
    display: block;
}

header #hamburger_menu div {
    background-color: var(--primary-color);
    height: 2px;
    width: 1.375rem;
    border-radius: 1.25px;
    margin: 0.3rem;
}

header nav {
    position: fixed;
    display: none;
    width: 100vw;
    background-color: var(--secondary-color);
    color: black;
    box-shadow: 0 7.5px 30px;
    padding: 4rem 0 3rem;
    z-index: 1;
}

header nav::before {
    content: '';
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #E8E8E8;
    opacity: 0.5;
    z-index: -1;
}

header nav * {
    margin: auto;
}

header nav h2 {
    font-size: var(--big-text-size);
    font-weight: 600;
    width: 70vw;
}

header nav div:first-of-type {
    margin-top: 1rem;
}

header nav a {
    font-size: var(--medium-text-size);
    font-weight: 500;
    margin-top: 0.5rem;
}

header nav #socials {
    display: flex;
    width: fit-content;
    margin-top: 0.5rem;
}

header nav #socials img {
    width: 1.4rem;
}

header nav #socials a+a {
    margin-left: 0.9rem;
}

/* Home page styling */
header #carousel>div:first-of-type {
    position: absolute;
    width: 85vw;
    left: 7.5vw;
    top: 4rem;
}

header #carousel div h1 {
    font-size: var(--big-text-size);
}

header #carousel div p {
    font-weight: bold;
    margin-top: 0.625rem;
}

header #carousel div div {
    display: flex;
    justify-content: space-between;
    margin-top: 11.25rem;
}

header #carousel div div button {
    font-size: 3rem;
    color: var(--primary-color);
    background-color: unset;
    border: unset;
    opacity: 0.8;
}

header #carousel div div #previous::before {
    content: '\2039';
}

header #carousel div div #next::before {
    content: '\203A';
}

header #carousel div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
}

header #carousel div img {
    height: 27.375rem;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}

header #carousel div img.left {
    object-position: 30% 50%;
}

header #carousel div img.right {
    object-position: 90% 50%;
}

main #review {
    background-color: var(--primary-color);
    width: calc(85vw - (0.625rem*2));
    margin: auto;
    padding: 0.625rem;
    transform: translateY(-2.375rem);
}

main #review h2 {
    font-style: italic;
    width: 90%;
    margin: auto;
}

main #review p {
    margin-top: 0.625rem;
}

main #links {
    background-color: var(--secondary-color);
    transform: translateY(-1rem);
}

main #links a {
    width: 73.33vw;
    margin: auto;
    padding-top: 2.5rem;
}

main #links a:last-of-type {
    padding-bottom: 2.5rem;
}

main #links a img {
    width: 73.33vw;
    height: 21.125rem;
    object-fit: cover;
    object-position: bottom;
    border-radius: 50% 50% 0 0 / 40% 40% 0 0;
}

main #links a div {
    background-color: var(--overlay-color);
    padding: 1.25rem;
    transform: translateY(-0.625rem);
}

main #links a div p {
    width: fit-content;
    font-size: var(--small-text-size);
    border-bottom: 1.5px solid black;
    margin: 0.625rem auto 0;
    padding-bottom: 0.3rem;
}

/* About me page styling */
#about_body header::before {
    content: '';
    position: absolute;
    top: -35vw;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    transform: skewY(-35deg);
    height: 100vh;
    z-index: -1;
}

.about_section {
    text-align: left;
    width: 85vw;
    margin: auto;
}

.about_section:first-of-type {
    margin-top: 4rem;
}

.about_section:last-of-type {
    padding-bottom: 3rem;
}

#about_body main {
    position: relative;
}

#about_body main::before {
    content: '';
    position: absolute;
    bottom: -35vw;
    left: 0;
    right: 0;
    background-image: linear-gradient(35deg, transparent 0% 28.2%, var(--secondary-color) 28.2% 100%);
    /* background-color: var(--secondary-color); */
    transform: skewY(-35deg);
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.about_section img {
    width: 19.922rem;
    height: 25.563rem;
    object-fit: cover;
    object-position: center;
}

.about_section article {
    background-color: var(--overlay-color);
    padding: 1.375rem 1.25rem;
}

.about_section article:last-child,
.about_section img:last-child {
    transform: translateY(-0.4rem);
}

.about_section article p {
    margin-top: 0.5rem;
}

.about_section article a {
    font-size: var(--small-text-size);
    margin-top: 1rem;
}

#banner_photo {
    width: 85vw;
    height: 11.25rem;
    object-fit: cover;
    object-position: 50% 35%;
    margin: 1.75rem;
}

/* Contact form styling */
footer {
    text-align: left;
    width: 85vw;
    margin: auto;
}

footer.tranform_footer {
    transform: translateY(-1rem);
}

footer #footer_line {
    height: 2rem;
    width: 2px;
    background-color: black;
    margin: auto;
}

footer h2 {
    font-size: var(--big-text-size);
    width: fit-content;
    margin: auto;
}

footer form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

footer form * {
    font-size: var(--small-text-size);
    margin-top: 2rem;
}

footer form input[type="text"],
textarea {
    font-family: inherit;
    border: unset;
    outline: unset;
    border-bottom: 1.5px solid rgba(0, 0, 0, .5);
}

footer form input[type="submit"],
main .about_section a {
    width: fit-content;
    background-color: unset;
    border: 1.5px solid black;
    border-radius: 0.5rem;
    padding: 0.25rem 0.6rem;
}

footer form input[type="submit"] {
    margin-top: 1.5rem;
}

footer section p {
    margin-bottom: 0.5rem;
}

footer section div {
    display: flex;
}

footer section div a img {
    width: 1.4rem;
    margin-right: 0.9rem;
}

footer>p {
    text-align: center;
    margin-top: 0.5rem;
}