:root {
    --primary-color: #fdfdfd;
    --secondary-color: #EFE2D9;
    --overlay-color: #E6CDB9;

    --big-text-size: clamp(1.563rem, 5.87vw, 3.125rem);
    --medium-text-size: clamp(1.125rem, 4.225vw, 1.65rem);
    --small-text-size: clamp(0.875rem, 3.286vw, 1.3rem);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype') url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Avenir', Helvetica, sans-serif;
    text-align: center;
    overflow-y: hidden;
}

main.transform_main {
    transform: translateY(clamp(-2.5rem, -8.92vw, -2.375rem));
}

a {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: unset;
}

button {
    color: black
}

h2 {
    font-size: var(--medium-text-size);
    font-weight: 500;
}

h3 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 9vw;
    height: 9vw;
    color: var(--primary-color);
    transform: rotate(-90deg) translateY(-310%) translateX(10%);
    transform-origin: bottom right;
    display: none;
}

p {
    font-size: var(--small-text-size);
}

header {
    color: var(--primary-color);
}

header #hamburger_menu {
    cursor: pointer;
    position: fixed;
    top: clamp(1.25rem, 4.695vw, 2.25rem);
    right: 7.5vw;
    height: clamp(1.5rem, 5.634vw, 2.7rem);
    width: fit-content;
    z-index: 2;
}

header #hamburger_menu.open div:nth-of-type(1),
header #hamburger_menu.open div:nth-of-type(3) {
    width: clamp(1.2rem, 4.507vw, 2.16rem);
    transform-origin: right center;
    transition: 0.2s transform;
}

header #hamburger_menu.open div:nth-of-type(1) {
    transform: rotate(-45deg);
}

header #hamburger_menu.open div:nth-of-type(2) {
    opacity: 0;
}

header #hamburger_menu.open div:nth-of-type(3) {
    transform: rotate(45deg);
}

header #hamburger_menu.open~nav {
    display: block;
    transform: translateY(0);
    transition: 0.5s transform;
}

@keyframes scrollBlurNavigationIn {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

header #hamburger_menu.open~nav::before {
    display: block;
    animation-name: scrollBlurNavigationIn;
    animation-duration: 0.5s;
}

header #hamburger_menu div {
    background-color: black;
    height: clamp(0.125rem, 0.469vw, 0.225rem);
    width: clamp(1.375rem, 5.164vw, 2.475rem);
    border-radius: 1.25px;
    margin: clamp(0.3rem, 1.127vw, 0.54rem);
}

header nav {
    position: fixed;
    width: 100vw;
    background-color: var(--secondary-color);
    color: black;
    box-shadow: 0 7.5px 30px;
    transform: translateY(-300vh);
    transition: 0.5s transform;
    padding: 4rem 0 3rem;
    z-index: 1;
}

header nav::before {
    content: '';
    position: absolute;
    display: none;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #E8E8E8;
    opacity: 0.5;
    z-index: -1;
}

@media(max-height: 550px) {
    header nav {
        overflow-y: scroll;
        max-height: 70%;
    }

    header nav::before {
        background-color: unset;
    }
}

header nav * {
    margin: auto;
}

header nav h2 {
    font-size: var(--big-text-size);
    font-weight: 600;
    width: 70vw;
}

header nav>div:first-of-type {
    margin-top: clamp(1rem, 3.756vw, 1.8rem);
}

header nav div:first-of-type a {
    font-size: var(--medium-text-size);
    font-weight: 500;
    margin-top: clamp(0.5rem, 1.878vw, 0.9rem);
}

header nav #socials {
    display: flex;
    width: fit-content;
    margin-top: clamp(0.5rem, 1.878vw, 0.9rem);
}

header nav #socials img {
    width: clamp(1.4rem, 5.258vw, 1.7rem);
}

header nav #socials a+a {
    margin-left: clamp(0.9rem, 3.38vw, 1.71rem);
}

header nav #language {
    cursor: pointer;
    position: relative;
    width: fit-content;
    border: clamp(1.5px, 0.352vw, 2.5px) solid black;
    border-radius: 10rem;
    margin-top: clamp(0.5rem, 1.878vw, 0.9rem);
    padding: clamp(0.15rem, 0.564vw, 0.27rem) clamp(0.5rem, 1.878vw, 0.9rem);
}

header nav #language * {
    cursor: pointer;
}

header nav #language #circle_selector {
    position: absolute;
    top: 0;
    bottom: 0;
    right: clamp(0.3rem, 1.127vw, 0.54rem);
    height: clamp(76.5%, 4.81vw, 84.75%);
    width: 35%;
    border-radius: 10rem;
    background-color: black;
}

header nav #language #circle_selector.left {
    right: unset;
    left: clamp(0.3rem, 1.127vw, 0.54rem);
}

header nav #language label {
    font-size: var(--small-text-size);
    font-weight: 600;
}

header nav #language label.hidden {
    opacity: 0;
}

/* Home page styling */
header #carousel>div:first-of-type {
    position: absolute;
    width: 85vw;
    left: 7.5vw;
    top: clamp(4rem, 15.023vw, 9.188rem);
}

header #carousel div h1 {
    font-size: var(--big-text-size);
}

header #carousel div p {
    font-weight: bold;
    margin-top: clamp(0.625rem, 2.347vw, 1.156rem);
}

header #carousel div div {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: clamp(11.25rem, 45vw, calc(92vh - 9.188rem - 35vh));
}

header #carousel div div button {
    cursor: pointer;
    font-size: clamp(3rem, 11.268vw, 5.5rem);
    color: var(--primary-color);
    background-color: unset;
    border: unset;
    opacity: 0.8;
}

header #carousel div div #previous::before {
    content: '\2039';
}

header #carousel div div #next::before {
    content: '\203A';
}

header #carousel ul {
    position: relative;
    width: 100vw;
    height: clamp(27.375rem, 102.817vw, 83rem);
    max-height: 92vh;
    overflow: hidden;
    z-index: -1;

}

header #carousel ul li {
    position: absolute;
    inset: 0;
    width: 100vw;
    opacity: 0;
    transition: 1s opacity;

}

header #carousel ul li.show {
    opacity: 1;
    transition: 1s opacity;
}

header #carousel ul li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

header #carousel ul li img.left {
    object-position: 30% 50%;
}

header #carousel ul li img.right {
    object-position: 90% 0%;
}

main #review,
main #working_method {
    background-color: var(--primary-color);
    width: calc(85vw - (0.625rem*2));
    max-width: 40.25rem;
    margin: auto;
    padding: clamp(0.625rem, 2.347vw, 1.156rem);
}

main #review h2,
main #working_method h2 {
    font-style: italic;
}

main #review p,
main #working_method p {
    max-width: 35.1rem;
    margin: auto;
    margin-top: clamp(0.625rem, 2.347vw, 1.156rem);
}

main .links {
    background-color: var(--secondary-color);
    margin-top: clamp(1.375rem, 5.164vw, 2.475rem);
}

main .links>div {
    width: 85vw;
    max-width: 103.75rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    justify-content: center;
    margin: auto;
    padding: clamp(1.5rem, 5.634vw, 5rem) 0;
}

main .links a {
    margin: auto;
}

main .links a img {
    display: block;
    width: clamp(17.187rem, 64.552vw, 22rem);
    height: clamp(21.125rem, 79.343vw, 26rem);
    object-fit: cover;
    object-position: bottom;
    border-radius: 50% 50% 0 0 / 40% 40% 0 0;
}

main .links a img.left,
.about_section img.left {
    object-position: 30% 100%;
}

main .links a img.right,
.about_section img.right {
    object-position: 70% 100%;
}

main .links a div {
    background-color: var(--overlay-color);
    padding: clamp(1.25rem, 4.695vw, 2rem);
}

main .links a div h2 {
    font-size: var(--medium-text-size);
}

main .links a div p {
    width: fit-content;
    font-size: var(--small-text-size);
    border-bottom: clamp(1.5px, 0.352vw, 2px) solid black;
    margin: clamp(0.625rem, 2.347vw, 1.125rem) auto 0;
    padding-bottom: clamp(0.3rem, 1.127vw, 0.54rem);
}

main #about_home {
    width: 85vw;
    max-width: 70rem;
    margin: clamp(1.375rem,5.164vw,2.475rem) auto clamp(2.5rem, 9.39vw, 4.5rem);
}

main #about_home article {
    max-width: calc(40.509rem - (clamp(1.25rem,4.695vw,2.5rem)*2));
    margin: auto;
    text-align: left;
    background-color: var(--overlay-color);
    height: fit-content;
    padding: clamp(1.375rem, 5.165vw, 2.75rem) clamp(1.25rem, 4.695vw, 2.5rem);
}

main #about_home article h2 {
    margin-bottom: clamp(0.5rem, 1.878vw, 0.9rem);
}

main #about_home article p:not(:last-of-type) {
    margin-bottom: clamp(0.25rem, 0.939vw, 0.45rem);
}

#about_home img {
    width: 100%;
    max-width: 29.637rem;
    max-height: 35rem;
    object-fit: cover;
    object-position: center;
}

/* About me page styling */
#about_body header::before,
#prices_body header::before {
    content: '';
    position: absolute;
    top: clamp(-35rem, -35vw, -9.203rem);
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    transform: skewY(-35deg);
    height: clamp(41.688rem, 156.573vw, 60rem);
    z-index: -1;
}

.about_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 85vw;
    max-width: 70rem;
    margin: auto;
}

.about_section:first-of-type {
    margin-top: clamp(4rem, 15.023vw, 9.188rem);
}

.about_section:last-of-type {
    padding-bottom: clamp(1.5rem,5.634vw,5rem);
}

#about_body main,
#prices_body main {
    position: relative;
}

#about_body main::before,
#prices_body main::before {
    content: '';
    position: absolute;
    bottom: clamp(-35rem, -35vw, -9.203rem);
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    transform: skewY(-35deg);
    height: clamp(41.688rem, 156.573vw, 60rem);
    width: 100vw;
    z-index: -1;
}

.about_section img {
    width: 85vw;
    max-width: 29.637rem;
    height: 109.069vw;
    max-height: 38rem;
    object-fit: cover;
    object-position: center;
}

.about_section article {
    width: calc(85vw - (clamp(1.25rem, 4.695vw, 2.5rem)*2));
    max-width: calc(40.509rem - (clamp(1.25rem, 4.695vw, 2.5rem)*2));
    height: fit-content;
    background-color: var(--overlay-color);
    padding: clamp(1.375rem, 5.165vw, 2.75rem) clamp(1.25rem, 4.695vw, 2.5rem);
}

.about_section article:first-child,
.about_section img:first-child {
    display: flex;
    flex-direction: column;
}

.about_section article p {
    margin-top: clamp(0.5rem, 1.878vw, 0.9rem);
}

.about_section article div {
    display: flex;
    justify-content: space-evenly;
}

.about_section article a,
main #working_method div a {
    font-size: var(--small-text-size);
    margin-top: clamp(1rem, 3.756vw, 1.8rem);
}

#banner_photo {
    width: 85vw;
    height: clamp(11.25rem, 42.254vw, 22.5rem);
    object-fit: cover;
    object-position: 50% 35%;
    margin: clamp(1.75rem, 6.573vw, 3.15rem) 0;
}

/* Portfolio page styling */
header #portfolio_header {
    display: flex;
    align-items: center;
    max-height: 50rem;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

header #portfolio_header h1 {
    position: absolute;
    font-size: var(--big-text-size);
    top: clamp(4rem, 15.023vw, 9.188rem);
    left: 7.5vw;
    width: 85vw;
}

header #portfolio_header img {
    height: clamp(27.375rem, 102.817vw, 80rem);
    width: 100vw;
    object-fit: cover;
    object-position: center;
}

main #working_method div {
    display: flex;
    justify-content: space-evenly;
}

main #portfolio {
    position: relative;
    background-color: var(--secondary-color);
    margin-top: clamp(1.375rem, 5.164vw, 2.475rem);
    padding: clamp(3rem, 11.268vw, 5.4rem) 7.5vw clamp(2.5rem, 9.39vw, 4.5rem);
}

main #portfolio div {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: minmax(10rem, auto);
    gap: clamp(1rem, 3.756vw, 2.5rem);
    width: 100%;
    max-width: 66rem;
    margin: auto;
}

main #portfolio a {
    margin: auto;
    height: 100%;
    min-height: 15rem;
    color: black;
}

main #portfolio a.portrait {
    grid-row: span 2;
    min-height: 30rem;
}

main #portfolio div a.hidden {
    display: none;
}

main #portfolio img {
    min-height: 10rem;
    height: 100%;
    width: 20rem;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

main #portfolio button {
    font-size: var(--small-text-size);
    border: clamp(1.5px, 0.352vw, 2.5px) solid black;
    margin-top: clamp(1rem, 3.756vw, 2.5rem);
    border-radius: clamp(0.5rem, 1.878vw, 0.9rem);
    background-color: unset;
    padding: clamp(0.25rem, 0.939vw, 0.45rem) clamp(0.6rem, 2.254vw, 1.08rem);
}

main #portfolio button.hidden {
    display: none;
}

main #portfolio button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s transform;
    background-color: var(--overlay-color);
}

/* Portfolio detail page styling */
#portfolio_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
}

#portfolio_detail>div {
    position: relative;
    width: fit-content;
    height: fit-content;
}

#portfolio_detail img {
    padding-bottom: clamp(0.5rem, 1.878vw, 0.9rem);
    width: 100vw;
    height: auto;
}

#close_image {
    height: clamp(1.11rem, 4.169vw, 2rem);
    width: clamp(1.11rem, 4.169vw, 2rem);
    position: absolute;
    top: clamp(1rem, 4vw, 2rem);
    left: clamp(0.25rem, 1.25vw, 1rem);
}

#close_image div {
    position: absolute;
    top: 45%;
    background-color: var(--overlay-color);
    width: clamp(1.2rem, 4.507vw, 2.16rem);
    height: clamp(0.125rem, 0.469vw, 0.225rem);
    border-radius: 1.25px;
    transform-origin: center center;
}

#close_image div:first-of-type {
    transform: rotate(-45deg);
}

#close_image div:last-of-type {
    transform: rotate(45deg);
}

@media(min-width: 500px) {
    #portfolio_detail img.portrait {
        height: calc(100vh - clamp(5.5rem, 10.5vw, 8rem));
        width: auto;
    }
}

@media(min-width: 800px) {
    #portfolio_detail {
        align-items: flex-end;
    }

    #portfolio_detail img.landscape {
        height: calc(100vh - clamp(5.5rem, 10.5vw, 8rem));
        width: auto;
        max-width: 100vw;
        object-fit: cover;
        object-position: center;
    }
}

/* Prices page styling */
#prices_body .links {
    background-color: unset;
    margin-top: clamp(1.5rem, 5.633vw, 2.7rem);
}

#prices_body .links>div {
    padding-top: clamp(1.5rem, 5.634vw, 2.7rem);
}

#prices_body main::before {
    height: clamp(52.109rem, 196vw, 75rem);
}

/* Contact form styling */
footer {
    text-align: left;
    width: 85vw;
    padding: 0 7.5vw;
    background-color: var(--primary-color);
}

footer.transform_footer {
    position: absolute;
    left: 7.5vw;
    transform: translateY(clamp(-2.5rem, -8.92vw, -2.375rem));
    padding: 0;
}

footer.transform_footer_large {
    margin-top: 5rem;
}

footer.transform_footer_larger {
    margin-top: 7.5rem;
}

footer #footer_line {
    height: clamp(2rem, 7.512vw, 4.125rem);
    width: clamp(2px, 0.469vw, 3px);
    background-color: black;
    margin: auto;
}

footer h2 {
    font-size: var(--big-text-size);
    width: fit-content;
    margin: auto;
}

footer form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

footer form * {
    font-size: var(--small-text-size);
    margin-top: clamp(2rem, 7.512vw, 3.125rem);
}

footer form input[type="text"],
footer form input[type="email"],
textarea {
    font-family: inherit;
    border: unset;
    outline: unset;
    border-bottom: clamp(1.5px, 0.352vw, 2.5px) solid rgba(0, 0, 0, .5);
}

footer form input[type="submit"],
main .about_section a,
main #working_method div a {
    cursor: pointer;
    width: fit-content;
    background-color: unset;
    color: black;
    border: clamp(1.5px, 0.352vw, 2.5px) solid black;
    border-radius: clamp(0.5rem, 1.878vw, 0.9rem);
    padding: clamp(0.25rem, 0.939vw, 0.45rem) clamp(0.6rem, 2.254vw, 1.08rem);
}

footer form input[type="submit"] {
    margin-top: clamp(1.5rem, 5.634vw, 3.125rem);
}

footer section p {
    margin-bottom: clamp(0.5rem, 1.878vw, 0.9rem);
}

footer section div {
    display: flex;
}

footer section div a {
    margin-right: clamp(0.9rem, 3.38vw, 1.62rem);
}

footer section div a img {
    width: clamp(1.4rem, 5.258vw, 2rem);
}

footer>p {
    text-align: center;
    padding: clamp(0.5rem, 1.878vw, 0.9rem) 0 clamp(1rem, 3.756vw, 1.8rem);
}

#thanks_body header {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-color);
    color: black;
}

#thanks_body header #thanks_message {
    position: absolute;
    top: clamp(4rem, 15.023vw, 9.188rem);
    width: 100vw;
}

#thanks_body header h1 {
    width: 60%;
    margin: 0 auto 1rem;
}

#thanks_body header p {
    width: 60%;
    margin: 0 auto;
}

@media(min-width: 1000px) {
    h3 {
        display: block;
    }

    #hamburger_menu,
    header nav::before,
    header nav h2 {
        display: none;
    }

    header nav {
        display: flex;
        justify-content: space-evenly;
        width: 85vw;
        background-color: unset;
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
        box-shadow: unset;
        transform: translateY(0);
        transition: unset;
        margin: 0 7.5vw;
        padding: 1.75rem 0;
    }

    header nav.black_navigation {
        color: black;
        border-bottom: 2px solid black;
    }

    header nav.black_navigation #language {
        border: clamp(1.5px, 0.15vw, 2.5px) solid black;
    }

    header nav.black_navigation #language #circle_selector {
        background-color: black;
    }

    header nav.scrolled_navigation::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -7.5vw;
        right: 0;
        height: 100%;
        width: 100vw;
        background-color: var(--secondary-color);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        z-index: -1;
    }

    header nav.scrolled_navigation {
        border-bottom: unset;
    }

    header nav div:first-of-type a,
    header nav #socials {
        margin: 0;
    }

    header nav>div {
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 100%;
        margin: auto 0;
    }

    header nav>div:first-of-type {
        margin: auto 0;
    }

    header nav>div:first-of-type a {
        font-size: clamp(1.25rem, 2vw, 1.65rem);
    }

    header nav>div:first-of-type a+a {
        margin-left: 3.125vw;
    }

    header nav #socials {
        align-items: center;
    }

    header nav #socials a {
        position: relative;
        height: clamp(1.4rem, 2.24vw, 1.6rem);
        width: clamp(1.4rem, 2.24vw, 1.6rem);
    }

    header nav #socials a+a {
        margin-left: clamp(0.9rem, 1.44vw, 1.4rem);
    }

    header nav #socials img {
        position: absolute;
        inset: 0;
        width: clamp(1.4rem, 2.24vw, 1.7rem);
    }

    header nav #language {
        margin: 0 0 0 clamp(0.9rem, 1.44vw, 1.4rem);
        border: clamp(1.5px, 0.15vw, 2.5px) solid var(--primary-color);
        padding: clamp(0.15rem, 0.24vw, 0.27rem) clamp(0.5rem, 0.8vw, 0.9rem);
    }

    header nav #language #circle_selector {
        position: absolute;
        top: 0;
        bottom: 0;
        right: clamp(0.3rem, 0.48vw, 0.54rem);
        height: clamp(76.5%, 2.049vw, 84.75%);
        background-color: var(--primary-color);
    }

    header nav #language #circle_selector.left {
        left: clamp(0.3rem, 0.48vw, 0.54rem);
    }

    header nav #language label {
        font-size: clamp(0.875rem, 1.4vw, 1.3rem);
    }

    main #about_home {
        display: flex;
    }

    main #about_home article {
        width: 100%;
        margin: 0;
    }

    main #about_home img {
        margin-top: 5rem;
    }

    #about_body header::before,
    #about_body main::before,
    #prices_body header::before,
    #prices_body main::before {
        transform: skewY(-10deg);
        height: 75vh;
    }

    #about_body header::before,
    #prices_body header::before {
        top: -16.8vw;
    }

    #about_body main::before {
        bottom: -20.9vw;
    }

    #prices_body main::before {
        bottom: -16.8vw;
    }

    .about_section {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .about_section:first-of-type {
        align-items: flex-start;
    }

    .about_section:first-of-type>*:last-child,
    .about_section:last-of-type>*:first-child {
        margin-top: 5rem;
    }

    .about_section img {
        width: clamp(30%, 25.5vw, 29.637rem);
    }

    footer form input[type="text"],
    footer form input[type="email"],
    textarea {
        width: 42.5vw;
        max-width: 37.75rem;
    }

    footer>div {
        display: flex;
        justify-content: space-between;
        width: 85vw;
        max-width: 66rem;
        margin: 2.5rem auto 0;
    }

    footer form input[type="text"] {
        margin: 0;
    }

    footer>div section {
        width: fit-content;
    }

    /* Hover states for desktop */
    a:hover,
    a:focus,
    header #carousel div div button:hover,
    header #carousel div div button:focus {
        opacity: 1;
        transform: scale(1.1);
        transition: 0.2s transform;
    }

    .about_section article a:hover,
    .about_section article a:focus,
    main #working_method div a:hover,
    main #working_method div a:focus {
        background-color: var(--secondary-color);
    }

    footer form input[type="submit"]:hover,
    footer form input[type="submit"]:focus {
        background-color: var(--secondary-color);
        transform: scale(1.1);
        transition: 0.2s transform;
    }
}