<%- include('../layout/head'); %>

    <body id="about_body">
        <header>
            <%- include('layout/nav'); %>
        </header>
        <main>
            <section class="about_section">
                <img src="/_about-me/gina-1.webp" alt="Photo Gina">
                <article>
                    <h2>Thank you for getting to know me better</h2>
                    <p>
                        I am Gina, a full-time weddingphotographer. I get my energy from capturing loving moments in a pure way.
                    </p>
                    <p>
                        My hometown is Krommenie, a village in Zaanstad, but I can be booked throughout the Netherlands and even across the border!
                    </p>
                    <p>
                        I started photography in 2017, got my first client in 2018 and started a professional business in 2019. I am very grateful that I can work full-time as a photographer, because that's what I like the most.
                    </p>
                    <p>
                        I quickly put people at ease. I'm always up for sushi, bastogne cookies, red velvet cake and my mom & grandma's "kaaskoekjes".
                    </p>
                    <p>
                        In my daily life I like to make and listen to music. I really enjoy learning new things.
                    </p>
                    <div>
                        <a href="/portfolio">View my work</a>
                        <a target="_blank" href="https://wa.me/+31628435101?text=Ik%20heb%20een%20vraag%20over">Whatsapp me</a>
                    </div>
                </article>
            </section>

            <img id="banner_photo" src="/_about-me/banner.webp" alt="Banner wedding photo">

            <section class="about_section">
                <article>
                    <h2>My method</h2>
                    <p>
                        During a wedding day I will focus on the spontaneous moments. My way of photographing is mostly in a documentary style. I will capture emotions and let you feel the atmosphere.
                    </p>
                    <p>
                        It will be an important day that you would like to look back on with joy and a smile. Therefore, a photographer is one of the most important things for your wedding.
                    </p>
                    <p>
                        I think it's important that we are a good match. That comes with you having a good feeling about working together and us having a good connection. You can consider me as a friend, who captures your special day. I am relaxed and provide a relaxed atmosphere, which is nice for everyone.
                    </p>
                    <p>
                        I can't wait to hear more about you! I like to visit you two, so we can get meet each other. Based on your preference, we could meet at your home, or drink a cup of coffee in a quiet café nearby.
                    </p>
                    <p>
                        You will keep the memories of your day with you forever and I think it's important that this is captured in a reliable way. I handle your most important day with care and the photos are backed up several times, in different places.
                    </p>
                </article>
                <img src="/_about-me/gina-2.webp" alt="Photo Gina">
            </section>
        </main>

        <%- include('layout/contact'); %>
    </body>
</html>