<%- include('../layout/head'); %>

    <body id="about_body">
        <header>
            <%- include('layout/nav'); %>
        </header>
        <main>
            <section class="about_section">
                <img src="/_about-me/gina-1.webp" alt="Photo Gina">
                <article>
                    <h2>Nice that you want to know who I am!</h2>
                    <p>
                        My name is Gina and I am a full time wedding photographer. I get my energy from capturing loving
                        moments, in a pure way.
                    </p>
                    <p>
                        I come from Krommenie, a village in Zaanstad, but I can be booked throughout the Netherlands and
                        even abroad!
                    </p>
                    <p>
                        I started photography in 2017, got my first client in 2018 and started a professional business
                        in 2019.
                    </p>
                    <p>
                        I'm extremely grateful that I can work fulltime as a photographer, which I believe is the best
                        there is.
                    </p>
                    <p>
                        In my daily life I like to make and listen to music. I really enjoy learning and immersing
                        myself in new things.
                    </p>
                    <div>
                        <a href="/portfolio">View my work</a>
                        <a target="_blank" href="https://wa.me/+31628435101?text=Ik%20heb%20een%20vraag%20over">Whatsapp me</a>
                    </div>
                </article>
            </section>

            <img id="banner_photo" src="/_about-me/banner.webp" alt="Banner wedding photo">

            <section class="about_section">
                <article>
                    <h2>How do I work?</h2>
                    <p>
                        You can think of me as a friend who captures your special day. Together with you I create a
                        relaxed atmosphere. The memories of your day will remain with you forever and it is important to
                        me that this is recorded in a reliable manner.
                    </p>
                    <p>
                        During a wedding shoot I focus on the spontaneous moments. My way of photographing is therefore
                        largely in a documentary style. I show emotions and let you feel the atmosphere.
                    </p>
                    <p>
                        I find it important to have a good connection with you to make sure that you have a pleasant
                        experience while working with me.
                    </p>
                    <p>
                        Now that you know a little more about me, I'd love to hear who you are. We can arrange a
                        non-binding introduction. This is allowed at your home, but we can also drink a cup of coffee in
                        a quiet cafe nearby, just what you wish.
                    </p>
                </article>
                <img src="/_about-me/gina-2.webp" alt="Photo Gina">
            </section>
        </main>

        <%- include('layout/contact'); %>
    </body>
</html>