<%- include('../layout/head'); %>

    <body>
        <header>
            <%- include('layout/nav'); %>
                <section id="carousel">
                    <div>
                        <h1>Gina ten Hoope Photography</h1>
                        <p>Professional wedding photographer</p>
                        <div>
                            <button id="previous"></button>
                            <button id="next"></button>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <img class="left" src="/home/landscape-1.webp" alt="Carousel Photo 1">
                        </li>
                        <li>
                            <img src="/home/landscape-2.webp" alt="Carousel Photo 2">
                        </li>
                        <li>
                            <img src="/home/landscape-3.webp" alt="Carousel Photo 3">
                        </li>
                        <li>
                            <img src="/home/landscape-4.webp" alt="Carousel Photo 4">
                        </li>
                        <li>
                            <img src="/home/landscape-5.webp" alt="Carousel Photo 5">
                        </li>
                        <li class="show">
                            <img class="right" src="/home/landscape-6.webp" alt="Carousel Photo 6">
                        </li>
                    </ul>
                </section>
        </header>

        <main class="transform_main">
            <section id="review">
                <h2>
                    "Capturing moments of now, which<br>will amaze your heart tomorrow"
                </h2>
                <p>
                    "I can only sum it up that Gina is a super good photographer with an eye for detail! She really puts
                    you at ease, so that the photos don't have a made-up character.
                </p>
                <p>
                    What I find very important is that a photographer is present without you noticing and that is her.
                    After editing, the colors really popped off the photo. We would definitely recommend Gina as a
                    (bridal) photographer and are very happy with the end result.❤️"
                </p>
                <p>~Walter & Ilona</p>
            </section>

            <section class="links">
                <div>
                    <a href="/en/portfolio">
                        <img class="right" src="/arches-home/portfolio.jpg" alt="Portfolio Link Photo">
                        <div>
                            <h2>Enjoy more of my<br>wedding photography</h2>
                            <p>View wedding photos</p>
                        </div>
                    </a>
                    <a href="/en/overmij">
                        <img src="/arches-home/about.jpg" alt="About Me Link Photo">
                        <div>
                            <h2>Get to know<br>me some more</h2>
                            <p>More about me</p>
                        </div>
                    </a>
                    <a href="/en/tarieven">
                        <img src="/arches-home/prices.jpg" alt="Prices Link Photo">
                        <div>
                            <h2>What are<br>my prices</h2>
                            <p>View prices</p>
                        </div>
                    </a>
                </div>
            </section>
        </main>

        <%- include('layout/contact'); %>
    </body>

    </html>