<%- include('../layout/head'); %>

    <body>
        <header>
            <%- include('layout/nav'); %>
        </header>

        <main id="portfolio_detail">
            <div>
                <img src="/_original/<%= image %>" alt="Portfolio detail image">
                <a href="javascript:history.back()" id="close_image">
                    <div></div>
                    <div></div>
                </a>
            </div>
        </main>
    </body>

    </html>