<%- include('../layout/head'); %>

    <body>
        <header>
            <%- include('layout/nav'); %>
                <section id="portfolio_header">
                    <h1>Your wedding captured<br>exactly as you wish!</h1>
                    <!-- Placeholder -->
                    <img src="/assets/portfolio/landscape-4.jpg" alt="">
                </section>
        </header>

        <main class="transform_main">
            <section id="working_method">
                <h2>My method</h2>
                <p>
                    First of all I want to congratulate you with your engagement! It is now time to plan your wedding.
                </p>
                <p>
                    Your wedding is full of beautiful moments. First of all, the preparation: getting dressed, hair and
                    make-up, jewelry on, perfume on. Then the first look: you and your partner see each other for the
                    first time in your beautiful wedding attire.
                </p>
                <p>
                    During the ceremony, where beautiful words are spoken, it is time for the 'yes, I do'. Then the
                    reception followes. Just as dinner, with all your friends and family. Finally, you celebrate love
                    with an a-ma-zing party.
                </p>
                <p>
                    An important day that you would like to look back on with joy and a smile. That is why a
                    photographer is one of the most important things for your wedding.
                </p>
                <p>
                    Capturing the spontaneous moments and emotion, that's my focus. I am a photographer who prefers to
                    keep me in the background, so that you can fully enjoy the
                    moment.
                </p>
                <p>
                    Every wedding is unique, special and full of love. A day full of emotions, which I would like to
                    capture for you as beautifully as possible.
                </p>
                <div>
                    <a target="_blank" href="https://wa.me/+31628435101?text=Ik%20heb%20een%20vraag%20over">Whatsapp
                        me</a>
                    <a href="/en/prices">Wedding prices</a>
                </div>
            </section>

            <section id="portfolio">
                <h3>Portfolio</h3>
                <div>
                    <% shuffledPortfolioImages.forEach(function(image) { %>
                        <img src="../<%= image %>" alt="Portfolio image">
                        <% }) %>
                </div>
            </section>
        </main>

        <%- include('layout/contact'); %>
    </body>

    </html>