<%- include('../layout/head'); %>

    <body id="prices_body">
        <header>
            <%- include('layout/nav'); %>
        </header>
        <main>
            <section class="about_section">
                <img src="/prices/wedding.jpg" alt="Wedding Prices Photo">
                <article>
                    <h2>Custom wedding rates</h2>
                    <p>
                        I deliver all my work to measure, my starting rate is EUR 1500.
                    </p>
                    <p>
                        This starting rate includes: 6 hours of photography by a professional wedding photographer, a
                        minimum of 200 high resolution files and a handmade mini album.
                    </p>
                    <p>
                        The starter package contains everything I need as a basis as a photographer to be able to
                        capture your wedding.
                    </p>
                    <p>
                        I can also be booked for micro-weddings. I also use adjusted rates, depending on the wedding.
                    </p>
                    <p>
                        Before the wedding you can even choose a second photographer, more hours or a videographer.
                        After the wedding we can discuss a handmade (parent) album and wall decoration.
                    </p>
                    <p>
                        I would be happy to discuss any wishes you have over a cup of coffee or tea.
                    </p>
                    <a href="#contact">Get in contact with me</a>
                </article>
            </section>

            <section class="links">
                <h2>Other packages</h2>
                <div>
                    <a href="/en/tarieven/4-hours">
                        <img class="right" src="/prices/4-hours.jpg" alt="4 Hours Package Photo">
                        <div>
                            <h2>Photography<br>for 4 hours</h2>
                            <p>More information</p>
                        </div>
                    </a>
                    <a href="/en/tarieven/2-hours">
                        <img src="/prices/2-hours.jpg" alt="2 Hours Package Photo">
                        <div>
                            <h2>Photography<br>for 2 hours</h2>
                            <p>More information</p>
                        </div>
                    </a>
                    <a href="/en/tarieven/1-hour">
                        <img class="left" src="/prices/1-hour.jpg" alt="1 Hour Package Photo">
                        <div>
                            <h2>Photography<br>for 1 hour</h2>
                            <p>More information</p>
                        </div>
                    </a>
                </div>
            </section>
        </main>

        <%- include('layout/contact'); %>
    </body>

    </html>