<%- include('../layout/head'); %>

    <body id="prices_body">
        <header>
            <%- include('layout/nav'); %>
        </header>
        <main>
            <section class="about_section">
                <% if(package=='4 hours' ) { %>
                    <img class="right" src="/assets/prices/4-hours.jpg" alt="4 Hours Package Photo">
                    <% } else if(package=='2 hours' ) { %>
                        <img src="/assets/prices/2-hours.jpg" alt="2 Hours Package Photo">
                        <% } else if(package=='1 hour' ) { %>
                            <img class="left" src="/assets/prices/1-hour.jpg" alt="1 Hour Package Photo">
                            <% } %>
                                <article>
                                    <h2>
                                        Photography for <%= package %>
                                    </h2>
                                    <% if(package=='4 hours' ) { %>
                                        <p>
                                            This is 4 hours photography
                                        </p>
                                        <% } else if(package=='2 hours' ) { %>
                                            <p>
                                                This is 2 hours photography
                                            </p>
                                            <% } else if(package=='1 hour' ) { %>
                                                <p>
                                                    This is 1 hour photography
                                                </p>
                                                <% } %>
                                                    <a href="#contact">Get in contact with me</a>
                                </article>
            </section>

            <section class="links">
                <h2>Other packages</h2>
                <div>
                    <a href="/en/tarieven">
                        <img src="/assets/prices/wedding.jpg" alt="Wedding Prices Photo">
                        <div>
                            <h2>Custom<br>wedding rates</h2>
                            <p>More information</p>
                        </div>
                    </a>
                    <% if(package!=='4 hours' ) { %>
                        <a href="/en/tarieven/4-hours">
                            <img class="right" src="/assets/prices/4-hours.jpg" alt="4 Hours Package Photo">
                            <div>
                                <h2>Photography<br>for 4 hours</h2>
                                <p>More information</p>
                            </div>
                        </a>
                        <% } if(package!=='2 hours' ) { %>
                            <a href="/en/tarieven/2-hours">
                                <img src="/assets/prices/2-hours.jpg" alt="2 Hours Package Photo">
                                <div>
                                    <h2>Photography<br>for 2 hours</h2>
                                    <p>More information</p>
                                </div>
                            </a>
                            <% } if(package!=='1 hour' ) { %>
                                <a href="/en/tarieven/1-hour">
                                    <img class="left" src="/assets/prices/1-hour.jpg" alt="1 Hour Package Photo">
                                    <div>
                                        <h2>Photography<br>for 1 hour</h2>
                                        <p>More information</p>
                                    </div>
                                </a>
                                <% } %>
                </div>
            </section>
        </main>

        <%- include('layout/contact'); %>
    </body>

    </html>