<%- include('../layout/head'); %>

    <body id="thanks_body">
        <h6>Hello World!!!!!!!!!!!</h6>

        <header>
            <%- include('layout/nav'); %>
                <div id="thanks_message">
                    <h1>Thanks for your message!</h1>
                    <p>I will get back to you as soon as possible.</p>
                </div>
        </header>
    </body>

    </html>