<footer>
    <div id="footer_line"></div>
    <h2>Contact</h2>
    <div>
        <form action="">
            <input id="name" type="text" name="name" placeholder="Naam">
            <!-- <label for="name">Naam</label> -->
            <input id="email" type="text" name="email" placeholder="E-mailadres">
            <!-- <label for="email">E-mailadres</label> -->
            <textarea name="message" placeholder="Uw bericht" rows="4" cols="50"></textarea>
            <!-- <label for="message">Uw bericht</label> -->
            <input type="submit" value="Stuur bericht">
        </form>
        <section>
            <p>Gina ten Hoope Photography</p>
            <p>KvK: 76473872</p>
            <p>Zaanstad, Nederland</p>
            <p>Ginatenhoopephotography@gmail.com</p>
            <p>+31 6 28 43 51 01</p>

            <div>
                <a href="https://www.facebook.com/GinatenHoopePhotography/">
                    <img src="/assets/icons/facebook-64-black.png" alt="Facebook icoon">
                </a>
                <a href="https://www.instagram.com/photosbygina_/">
                    <img src="/assets/icons/instagram-64-black.png" alt="Instagram icoon">
                </a>
            </div>
        </section>

    </div>
    <p>©2022 by Gina ten Hoope</p>
</footer>