<div id="hamburger_menu">
  <div></div>
  <div></div>
  <div></div>
</div>

<nav>
  <h2>Gina ten Hoope Photography</h2>
  <div>
    <a href="/">Home</a>
    <a href="/overmij">Over mij</a>
    <a href="/portfolio">Bruiloft fotografie</a>
    <a href="/tarieven">Tarieven</a>
    <a id="contact_link" href="#contact">Contact</a>
  </div>
  <div>
    <div id="socials">
      <a
        target="_blank"
        href="https://www.facebook.com/GinatenHoopePhotography/"
      >
        <img src="/icons/facebook-64.png" alt="Facebook icoon" />
      </a>
      <a target="_blank" href="https://www.instagram.com/photosbygina_/">
        <img src="/icons/instagram-64.png" alt="Instagram icoon" />
      </a>
      <a
        target="_blank"
        href="https://wa.me/+31628435101?text=Ik%20heb%20een%20vraag%20over"
      >
        <img src="/icons/whatsapp-64.png" alt="Whatsapp icoon" />
      </a>
    </div>
    <a id="language">
      <div id="circle_selector"></div>
      <label id="nl" for="nl">NL</label>
      <label id="en" class="hidden" for="en">EN</label>
    </a>
  </div>
</nav>
