<nav>
    <div>
        <a href="/">Home</a>
        <a href="/overmij">Over mij</a>
        <a href="/portfolio">Bruiloft fotografie</a>
        <a href="/tarieven">Tarieven</a>
        <a href="#contact">Contact</a>
    </div>
    <div>
        <a href="https://www.facebook.com/GinatenHoopePhotography/">
            <img src="/assets/icons/facebook-64.png" alt="Facebook icoon">
        </a>
        <a href="https://www.instagram.com/photosbygina_/">
            <img src="/assets/icons/instagram-64.png" alt="Instagram icoon">
        </a>
    </div>
</nav>