<div id="hamburger_menu" class="open">
    <div></div>
    <div></div>
    <div></div>
</div>

<nav>
    <h2>Gina ten Hoope Photography</h2>
    <div>
        <a href="/">Home</a>
        <a href="/overmij">Over mij</a>
        <a href="/portfolio">Bruiloft fotografie</a>
        <a href="/tarieven">Tarieven</a>
        <a href="#contact">Contact</a>
    </div>
    <div id="socials">
        <a href="https://www.facebook.com/GinatenHoopePhotography/">
            <img src="/assets/icons/facebook-64-black.png" alt="Facebook icoon">
        </a>
        <a href="https://www.instagram.com/photosbygina_/">
            <img src="/assets/icons/instagram-64-black.png" alt="Instagram icoon">
        </a>
        <a href="">
            <img src="/assets/icons/whatsapp-64-black.png" alt="Whatsapp icoon">
        </a>
    </div>
</nav>