<footer>
    <div id="footer_line"></div>
    <h2 id="contact">Contact</h2>
    <div>
        <form action="https://formsubmit.co/f2c81ec4dc20bb32879266355c47ae97" method="post">
            <input type="hidden" name="_subject" value="Nieuw bericht!">
            <input type="hidden" name="_next" value="https://www.ginatenhoope.com/en/bedankt">
            <input id="name" type="text" name="name" placeholder="Name" required>
            <input id="email" type="email" name="email" placeholder="E-mail" required>
            <textarea name="message" placeholder="Your message" rows="4" cols="50" required></textarea>
            <input type="submit" value="Send message">
        </form>
        <section>
            <p>Gina ten Hoope Photography</p>
            <p>Chamber of Commerce: 76473872</p>
            <p>Zaanstad, Netherlands</p>
            <p>Ginatenhoopephotography@gmail.com</p>
            <p>+31 6 28 43 51 01</p>

            <div>
                <a target="_blank" href="https://www.facebook.com/GinatenHoopePhotography/">
                    <img src="/icons/facebook-64-black.png" alt="Facebook icoon">
                </a>
                <a target="_blank" href="https://www.instagram.com/photosbygina_/">
                    <img src="/icons/instagram-64-black.png" alt="Instagram icoon">
                </a>
                <a target="_blank" href="https://wa.me/+31628435101?text=Ik%20heb%20een%20vraag%20over">
                    <img src="/icons/whatsapp-64-black.png" alt="Whatsapp icoon">
                </a>
            </div>
        </section>

    </div>
    <p>©2022 by Gina ten Hoope</p>
</footer>