<div id="hamburger_menu" class="open">
    <div></div>
    <div></div>
    <div></div>
</div>

<nav>
    <h2>Gina ten Hoope Photography</h2>
    <div>
        <a href="/en">Home</a>
        <a href="/en/overmij">Over mij</a>
        <a href="/en/portfolio">Bruiloft fotografie</a>
        <a href="/en/tarieven">Tarieven</a>
        <a id="contact_link" href="#contact">Contact</a>
    </div>
    <div>
        <div id="socials">
            <a target="_blank" href="https://www.facebook.com/GinatenHoopePhotography/">
                <img src="/assets/icons/facebook-64.png" alt="Facebook icoon">
            </a>
            <a target="_blank" href="https://www.instagram.com/photosbygina_/">
                <img src="/assets/icons/instagram-64.png" alt="Instagram icoon">
            </a>
            <a target="_blank" href="https://wa.me/+31628435101?text=Ik%20heb%20een%20vraag%20over">
                <img src="/assets/icons/whatsapp-64.png" alt="Whatsapp icoon">
            </a>
        </div>
        <a id="language">
            <div class="left" id="circle_selector"></div>
            <label id="nl" class="hidden" for="nl">NL</label>
            <label id="en" for="en">EN</label>
        </a>
    </div>
</nav>